# Dependencies
node_modules/

# Backup files
backup/
*.zip

# Deploy artifacts
deploy.log
last-deploy.json

# Temporary scripts
_del_*.py

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo
food-push
# Redeployed Sat Jul 11 11:38:30     2026
